.borders {
  padding-block-start: calc(var(--spacer) * 3);
  padding-block-end: calc(var(--spacer) * 3);
  border-block-start: 3px solid var(--bd-util, var(--clr-secondary-300));
  border-block-end: 3px solid var(--bd-util, var(--clr-secondary-300));
}
