.borders {
  padding-block-start: calc(var(--spacer) * 3);
  padding-block-end: calc(var(--spacer) * 3);
  border-block-start: 1px solid var(--clr-secondary-200);
  border-block-end: 1px solid var(--clr-secondary-200);
}
