{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}
{% block content %}
<section class="hero">
  <div class="hero-image">
    <!-- <img src="../../images/hero.svg" alt=""> -->

    {% include "partials/hero-min.svg" %}
  </div>

  <div class="[ hero-text ] [ flow-content ]">
    <h1>Hey, <a href="#about" class="highlight">I’m Dave</a>. I love building fast, easy<span>-</span>to<span>-</span>use and accessible websites<span>.</span> </h1>
    <a class="button home" href="#about">About Me</a>
  </div>
</section>

<section class="about">
  <div class="about-image">
    <!-- <img src="../../images/about.svg" alt=""> -->
    {% include "partials/about-min.svg" %}
      </div>

  <div id="about" class="[ about-text ] [ flow-content borders ]">
    <h2 class="h1">About Me</h2>
    <p>I’m a self-taught developer happiest working at the front of the frontend.  For the moment, I'm focused on building my skills writing accessible HTML, modern CSS and vanilla JavaScript, and getting to grips with static site generators (this site is built using Eleventy). I am also learning about website performance and dipping my toes into UX and UI design.</p>

     <p>I’m based in Nairobi, Kenya. I have plenty of experience working with remote teams from my current career. I aim to transition into a frontend developer role over the next year or so. I'd love to find a position where I grow and learn how to apply my skills in a professional setting. Please <a href="contact.html">get in touch</a> if you know of any opportunities.
    </p>
    <a href="/xxx/" class="button accent">View Projects</a>
  </div>
</section>
{% endblock %}
