{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/post.css'] %}

{% set pageHeaderTitle = title %}
{% set recommendedPosts = helpers.getSiblingContent(collections.posts, page) %}

{% set pageHeaderSummary %}

{% endset %}

{% block content %}
  <article class="post flow-content">
    <section class="post-header">
      {% if tags %}
        <p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
        <ul class="tags-list" role="list" aria-describedby="tags-desc">
          {% for tag in tags %}
            <li>
              <a href="/posts/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

        <time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
        <h1 class="">{{ pageHeaderTitle | safe }}</h1>
        <p class="subtitle">{{ subtitle | safe }}</p>
        <p class="lead">{{ lead | safe }}</p>
    </section>


    <section class="post-body flow-content">
      {{ content | safe }}
    </section>
  </article>

  {% if recommendedPosts %}
    <section class="recommended-posts">
      {% set postListItems = recommendedPosts %}
      {% set postListHeadline = 'Other posts' %}
      {% include "partials/posts-list.html" %}
    </section>
  {% endif %}

{% endblock %}

