{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/posts.css'] %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set postListItems = pagination.items %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
  {% set postListItems = collections[tag] | reverse %}
  {% set pageHeaderTitle = 'Posts tagged “' + tag + '”' %}

  {% if tag === "Learning" %}
    {% set pageHeaderSummary = learning %}
  {% endif %}


{% endif %}

{% block content %}
  <section class="[ posts ][ flow-section ]">
    <section class="flow-content">
      <h1 class="">
        {{ pageHeaderTitle }}
      </h1>
        {% if pageHeaderSummary %}
      <div class="posts-subheading">
        {{ pageHeaderSummary | safe  }}
      </div>
      {% endif %}
    </section>

    {% include "partials/posts-list.html" %}

    {% if not tag %}
          {% include "partials/pagination-posts.html" %}
    {% endif %}
  </section>
{% endblock %}
