{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/projects.css'] %}

{% block content %}
{{ content | safe }}
</p>
<ul class="[ portfolio ] [ flow-section ]" role="list">
  {% for item in collections.projects %}
  <li class="[ portfolio-item ] [ split ]">
    <div class="portfolio-image">
      <picture>
        <source
          srcset="{{ item.data.portfolio.desktop }}"
          media="(min-width: 65em)" />
        <source
          srcset="{{ item.data.portfolio.tablet }}"
          media="(min-width: 40em)" />
        <img
          src="{{ item.data.portfolio.mobile }} "
          width="622"
          height="576"
          alt="{{ item.data.title }} landing page" />
      </picture>
    </div>
    <div class="[ portfolio-text ] [ flow-content borders ]">
      <h2 class="h1">{{ item.data.title }}</h2>
      <p>{{ item.data.summary | safe }}</p>
      <a href="/project/{{ item.data.title | slug }}/index.html" class="button"
        >View Project</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
