.button {
  position: relative;
  display: inline-block;
  inline-size: fit-content;
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
  border: 3px solid var(--bd, var(--clr-primary-500));
  border-radius: 99999px;
  box-shadow: var(--shadow-elevation-medium);
  background-color: var(--bg, var(--clr-secondary-400));
  transition: transform 350ms cubic-bezier(0, 0.26, 0.13, 1.55), background-color 150ms,
    color 150ms;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fg, var(--clr-primary-500));
  cursor: pointer;
  padding-inline: 1.5em;

  &:hover {
    --bd: var(--clr-secondary-500);
    --bg: var(--clr-primary-500);
    --fg: var(--clr-secondary-500);

    transform: scale(1.05);
  }

  &:active {
    --bd: var(--clr-primary-400);
    --bg: var(--clr-secondary-300);
    --fg: var(--clr-primary-400);
  }
}

.accent {
  --bd: var(--clr-tertiary-500);
  --bg: transparent;
  --fg: var(--clr-tertiary-500);

  &:hover {
    --bd: var(--clr-neutral-100);
    --bg: var(--clr-primary-500);
    --fg: var(--clr-neutral-100);

    transform: scale(1.05);
  }

  &:active {
    --bg: var(--clr-secondary-400);
    --fg: var(--clr-primary-500);
    --bd: var(--clr-primary-500);
  }
}

.home {
  padding-inline-start: 4.25em;
  overflow: hidden;

  &::before {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='14'><g fill='none' fill-rule='evenodd' stroke='hsla(50.593, 100%, 53.725%)'><path d='M0 9l8 4 8-4'/><path opacity='.5' d='M0 5l8 4 8-4'/><path opacity='.25' d='M0 1l8 4 8-4'/></g></svg>");
    position: absolute;
    display: grid;
    inset-block-start: 0;
    inset-inline-start: 0;
    align-content: center;
    justify-content: center;
    inline-size: 3em;
    block-size: 100%;
    background-color: var(--clr-primary-500);
    transition: transform 350ms cubic-bezier(0, 0.26, 0.13, 1.55), background-color 150ms,
      color 150ms;
  }

  &:hover {
    &::before {
      content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='14'><g fill='none' fill-rule='evenodd' stroke='hsl(214.55, 94.118%, 46.667%)'><path d='M0 9l8 4 8-4'/><path opacity='.5' d='M0 5l8 4 8-4'/><path opacity='.25' d='M0 1l8 4 8-4'/></g></svg>");
      background-color: var(--clr-secondary-400);
    }
  }

  &:active {
    &::before {
      content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='14'><g fill='none' fill-rule='evenodd' stroke='hsl(214.55, 94.118%, 46.667%)'><path d='M0 9l8 4 8-4'/><path opacity='.5' d='M0 5l8 4 8-4'/><path opacity='.25' d='M0 1l8 4 8-4'/></g></svg>");
      background-color: var(--clr-secondary-400);
    }
  }
}
