.contact-intro,
.contact-form {
  @include respond-to("large") {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    // HACK to fix alignment on each section
    .h1 + .contact-text,
    .h1 + .form {
      margin-block-start: 0;
    }
  }
}
