.form {
  --bespoke-flow-spacer: 1em;

  label,
  input,
  textarea {
    display: block;
    inline-size: 100%;
    color: var(--clr-neutral-900);
  }

  label {
    font-weight: 700;
    color: var(--clr-primary-500);
  }

  input,
  textarea {
    padding-block-start: clamp(0.5rem, 2.5%, 1rem);
    padding-block-end: clamp(0.5rem, 2.5%, 1rem);
    padding-inline-start: clamp(1rem, 5%, 2rem);
    padding-inline-end: clamp(1rem, 5%, 2rem);
    border: 3px solid var(--clr-primary-500);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-elevation-low);
    margin-block-start: 0.5em;
    background-color: var(--clr-secondary-200);
    font-weight: 400;

    &::placeholder {
      font-weight: 400;
      color: var(--clr-neutral-400);
    }
  }

  .error-container {
    min-block-size: 1.5em;
    margin-block-start: 0.5em;
  }

  .error {
    border: 3px solid var(--clr-tertiary-600);
  }

  .error-message {
    font-size: 1em;
    line-height: 1;
    color: var(--clr-tertiary-600);
  }
}
