.hero {
  display: grid;
  gap: var(--spacer);

  @include respond-to("medium") {
    grid-template-columns: repeat(3, 1fr);

    .hero-image {
      grid-area: 1 / 2 / -1 / -1;
      align-self: end;
      justify-self: end;
    }

    .hero-text {
      grid-area: 1 / 1 / -1 / 1;
      align-self: end;
      inline-size: 45ch;
      padding-block-start: clamp(1rem, 5%, 2rem);
      padding-inline-end: clamp(1rem, 5%, 2rem);
      background-color: var(--clr-neutral-100);
    }
  }

  .name {
    transition: color 150ms;
    text-decoration: underline;
    text-transform: initial;
    color: var(--clr-tertiary-500);

    &:hover {
      color: var(--clr-secondary-500);
    }
  }
}

.hero img,
.about img {
  box-shadow: none;
}
