.project {
  display: grid;
  gap: max(8vh, 2rem);

  @include respond-to("large") {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1.5fr;

    .project-hero {
      grid-area: 1 / -1 / 1 / 1;
    }
  }

  .roles {
    margin-block-start: 0.5rem;
    font-weight: 700;
    color: var(--clr-tertiary-500);
  }
}

.project-intro {
  align-self: start;

  @include respond-to("medium") {
    --bespoke-flow-spacer: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: var(--spacer);

    .summary {
      grid-area: 1 / 2 / 4 / -1;
      align-self: start;
    }
  }

  @include respond-to("large") {
    --bespoke-flow-spacer: calc(var(--spacer) * 2);
    display: initial;
  }

  .button {
    align-self: center;
    min-inline-size: 18ch;
  }
}
