.project {
  display: grid;
  gap: max(8vh, 2rem);
  // margin-block-start: clamp(2.5rem, 15%, 5rem);

  @include respond-to("large") {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1.5fr;

    .project-hero {
      grid-area: 1 / -1 / 1 / 1;
    }
  }
}

.project-intro {
  align-self: start;

  @include respond-to("medium") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer);

    .summary {
      grid-area: 1 / 2 / 4 / -1;
      align-self: start;
      margin-block-start: 0;
    }
  }

  @include respond-to("large") {
    display: initial;
  }

  .roles {
    margin-block-start: 0.5rem;
    color: var(--clr-tertiary-500);
  }

  // FIXME summary border at large BP
  //   @include respond-to("large") {
  //     display: revert;

  //     // .summary {
  //     //   grid-area: auto;
  //     // }
  //   }

  //   .button,
  //   .roles {
  //     grid-column: 1;
  //   }

  //
  // }
}
