.site-foot {
  grid-column: 1 / -1;
  padding-block-start: calc(var(--spacer) * 4);
  padding-block-end: calc(var(--spacer) * 4);
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);

  @include respond-to("medium") {
    padding-block-start: calc(var(--spacer) * 2);
    padding-block-end: calc(var(--spacer) * 2);
  }

  .site-foot__inner {
    --bespoke-gap: calc(var(--spacer) * 2);
  }

  nav {
    --bespoke-gap: calc(var(--spacer) * 2);

    a {
      display: block;
      transition: color 150ms;
      text-align: center;
      color: var(--clr-neutral-100);

      &:hover {
        color: var(--clr-secondary-500);
      }
    }
  }

  .logo svg {
    inline-size: 4rem;
    block-size: 3rem;
  }

  .logo g {
    transition: fill 150ms;
    fill: var(--clr-neutral-100);
  }

  .logo:hover g {
    fill: var(--clr-secondary-500);
  }

  .socials path {
    fill: var(--clr-neutral-100);
    transition: fill 150ms;
  }

  .socials li:hover path {
    fill: var(--clr-secondary-500);
  }
}
