.socials {
  --bespoke-gap: calc(var(--spacer) * 1.5);

  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  a {
    display: block;
  }

  path {
    fill: var(--clr-tertiary-500);
    transition: fill 150ms;
  }

  li:hover path {
    fill: var(--clr-primary-500);
  }
}
