@import "reset";

/* ==================================================
  Global Styles
  ================================================== */

@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */
body {
  overflow-x: hidden;
  background-color: var(--clr-neutral-100);
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: var(--step-0);
  font-weight: 400;
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: "BioRhyme", "Times New Roman", Times, serif;
  color: var(--clr-primary-500);
}

h1,
.h1 {
  font-size: var(--step-4);
  color: var(--clr-primary-500);
}

h2,
.h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

a:not([class]) {
  transition: color 150ms;
  font-weight: 700;
  color: var(--clr-primary-500);

  &:hover {
    color: var(--clr-tertiary-500);
  }
}

nav a {
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  border-radius: 0.5rem;
  box-shadow: var(--shadow-elevation-medium);
}

code {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: var(--clr-tertiary-500);
}

q {
  font-style: italic;
}

blockquote {
  padding-inline-start: 2em;
  border-inline-start: 10px solid var(--clr-secondary-500);
  // font-family: "BioRhyme", "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: italic;
}

::selection {
  background-color: var(--clr-secondary-500);
  color: var(--clr-primary-500);
}

/* ==================================================
  Composition
  ================================================== */

@import "composition/align-content";

/* ==================================================
  Utilities
  ================================================== */

@import "utilities/borders";
@import "utilities/container";
@import "utilities/flow-content";
@import "utilities/flow-section";
@import "utilities/outline";
@import "utilities/skip-link";
@import "utilities/split";
@import "utilities/visually-hidden";

/* ==================================================
   Blocks
   ================================================== */

@import "blocks/site-head";
@import "blocks/burger-menu";
@import "blocks/button";
@import "blocks/cta";
@import "blocks/site-foot";
@import "blocks/socials";
