@import "reset";

/* ==================================================
  Global Styles
  ================================================== */

@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */
body {
  overflow-x: hidden;
  background-color: var(--clr-neutral-100);
  font-family: "Work Sans", sans-serif;
  font-size: var(--step-0);
  font-weight: 400;
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: "BioRhyme", sans-serif;
}

h1,
.h1 {
  font-size: var(--step-3);
}

h2,
.h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

a {
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

/* ==================================================
  Composition
  ================================================== */

@import "composition/align-content";

/* ==================================================
  Utilities
  ================================================== */

@import "utilities/borders";
@import "utilities/container";
@import "utilities/flow-content";
@import "utilities/flow-section";
@import "utilities/outline";
@import "utilities/skip-link";
@import "utilities/split";
@import "utilities/visually-hidden";

/* ==================================================
   Blocks
   ================================================== */

@import "blocks/site-head";
@import "blocks/burger-menu";
@import "blocks/button";
@import "blocks/cta";
@import "blocks/site-foot";
@import "blocks/socials";
