<!-- Set file paths depending on level of nesting -->

<style>
@font-face {
  font-family: "Work Sans";
/*  {% if not (tag) or (pagination.pageNumber > 0)  %}
    src: local("Work Sans"), url("../../fonts/worksans-italic-webfont.woff2") format("woff2");
  {% endif %}
  {% if (tag) or (pagination.pageNumber > 0)  %}
    src: local("Work Sans"), url("../../../fonts/worksans-italic-webfont.woff2") format("woff2");
  {% endif %}*/
  src: local("Work Sans"), url("/fonts/worksans-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
/*  {% if not (tag) or (pagination.pageNumber > 0)  %}
  src: local("Work Sans"), url("../../fonts/worksans-bold-webfont.woff2") format("woff2");
  {% endif %}
  {% if (tag) or (pagination.pageNumber > 0)  %}
  src: local("Work Sans"), url("../../../fonts/worksans-bold-webfont.woff2") format("woff2");
  {% endif %}*/
  src: local("Work Sans"), url("/fonts/worksans-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
/*  {% if not (tag) or (pagination.pageNumber > 0)  %}
  src: local("Work Sans"), url("../../fonts/worksans-bolditalic-webfont.woff2") format("woff2");
  {% endif %}
  {% if (tag) or (pagination.pageNumber > 0)  %}
  src: local("Work Sans"), url("../../../fonts/worksans-bolditalic-webfont.woff2") format("woff2");
  {% endif %}*/
  src: local("Work Sans"), url("/fonts/worksans-bolditalic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  /*{% if not (tag) or (pagination.pageNumber > 0)  %}*/
/*  src: local("Work Sans"), url("../../fonts/worksans-regular-webfont.woff2") format("woff2");
  {% endif %}
  {% if (tag) or (pagination.pageNumber > 0)  %}
  src: local("Work Sans"), url("../../../fonts/worksans-regular-webfont.woff2") format("woff2");
  {% endif %}*/
  src: local("Work Sans"), url("/fonts/worksans-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BioRhyme";
/*  {% if not (tag) or (pagination.pageNumber > 0)  %}
  src: local("BioRhyme"), url("../../fonts/biorhyme-bold-webfont.woff2") format("woff2");
  {% endif %}
  {% if (tag) or (pagination.pageNumber > 0)  %}
  src: local("BioRhyme"), url("../../../fonts/biorhyme-bold-webfont.woff2") format("woff2");
  {% endif %}*/
  src: local("BioRhyme"), url("/fonts/biorhyme-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
</style>