{# Only renders this section if there are links to render #}
{% if pagination.href.next or pagination.href.previous %}
    <section class="pagination-buttons" aria-label="Pagination links">
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" class="paginate previous ">
          <p class="h2">&#8592; {{ paginationPrevText if paginationPrevText else 'Previous' }} </p>
        </a>
        {% endif %}
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="paginate next">
            <p class="h2">{{ paginationNextText if paginationNextText else 'Next' }} &#8594;</p>
          </a>
        {% endif %}
      </section>
{% endif %}