  <!-- FIXME HTML errors change to spans -->
    {% if postListHeadline %}
    <h2 class="">
      {{ postListHeadline }}
    </h2>
    {% endif %}
    <div>
      <ol class="[ post-list ] [ flow-content ]" role="list">
        {% for item in postListItems %}
        <li>
          <a href="{{ item.url }}" class="post-list-item ">
            <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            <h2>{{ item.data.title }}</h2>
            <p>{{ item.data.lead }}</p>
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
