
<article class="project">
  <picture class="project-hero">
    <source
      srcset="{{ item.data.project.hero.desktop }}"
      media="(min-width: 65em)" />
    <source
      srcset="{{ item.data.project.hero.tablet }}"
      media="(min-width: 40em)" />
    <img
      src="{{ item.data.project.hero.mobile }}"
      width="622"
      height="280"
      alt="{{ item.data.title }} landing page" />
  </picture>
  <header class="[ project-intro ] [ borders ]">
    <h2 class="h1">{{ item.data.title }}</h2>
    <p class="roles">{{ item.data.stack }}</p>
    <p class="summary">{{ item.data.summary | safe }}</p>
    <a href="{{ item.data.link }}" class="button">Visit Website</a>
    <a href="{{ item.data.link }}" class="button accent">GitHub Repo</a>
  </header>
  <section class="flow-content">
    <h3 class="h2">Notes and Tricky Bits</h3>
    <p>{{ item.templateContent | safe }}</p>
    <h3 class="h2">Static Previews</h3>
    <picture>
      <source
        srcset="{{ item.data.project.previews.desktop.one }}"
        media="(min-width: 65em)" />
      <source
        srcset="{{ item.data.project.previews.tablet.one }}"
        media="(min-width: 40em)" />
      <img
        src="{{ item.data.project.previews.mobile.one }}"
        width="622"
        height="392"
        alt="{{ item.data.title }} landing page" />
    </picture>
    <picture>
      <source
        srcset="{{ item.data.project.previews.desktop.two }}"
        media="(min-width: 65em)" />
      <source
        srcset="{{ item.data.project.previews.tablet.two }}"
        media="(min-width: 40em)" />
      <img
        src="{{ item.data.project.previews.mobile.two }}"
        width="622"
        height="392"
        alt="{{ item.data.title }} landing page" />
    </picture>
  </section>
</article>
