
<article class="project">
  <div class="project-hero">
    <img
      src="{{ item.data.project.hero.mobile }}"
      srcset="{{ item.data.project.hero.desktop }} 2220w,
              {{ item.data.project.hero.tablet }} 1378w,
              {{ item.data.project.hero.mobile }} 622w"
      sizes="100vw"
      width="622"
      height="280"
      alt="{{ item.data.title }} Preview of landing page."
      />
  </div>

  <header class="[ project-intro ] [ flow-content ]">
    <div>
      <h1 class="h1">{{ item.data.title }}</h1>
      <p class="roles">{{ item.data.stack }}</p>
    </div>
    <p class="summary">{{ item.data.summary | safe }}</p>
    <a href="{{ item.data.link }}" class="button">Visit Website</a>
    <a href="{{ item.data.repo }}" class="button accent">Source Code</a>
  </header>

  <section class="flow-content">
    <h2 class="h2">Notes and Queries</h2>
    <p>{{ item.templateContent | safe }}</p>
    <h2 class="h2">Static Previews</h2>
    <img
      src="{{ item.data.project.hero.mobile.one }}"
      srcset="{{ item.data.project.previews.desktop.one }} 1270w,
              {{ item.data.project.previews.tablet.one }} 1374w,
              {{ item.data.project.previews.mobile.one }} 626w"
      sizes="(min-width: 65em) 50vw, 100vw"
      width="622"
      height="392"
      alt="{{ item.data.title }} Preview of landing page hero section"
      loading="lazy"
      />
      <img
        src="{{ item.data.project.hero.mobile.two }}"
        srcset="{{ item.data.project.previews.desktop.two }} 1270w,
                {{ item.data.project.previews.tablet.two }} 1374w,
                {{ item.data.project.previews.mobile.two }} 626w"
        sizes="(min-width: 65em) 50vw, 100vw"
        width="622"
        height="392"
        alt="{{ item.data.title }} Preview of mobile pages."
        loading="lazy"
        />
  </section>
</article>
