<header role="banner" class="site-head">
  <a class="skip-link" href="#main-content">Skip to content</a>
  <div class="[ site-head__inner ][ split ]" >
    <a href="/" aria-label="{{ site.name }} - home" class="logo">
      {% include "partials/brand.svg" %}
    </a>
    <burger-menu max-width="650">
      <nav class="navigation" aria-label="primary navigation">
        <ul class="[ nav-list ][ split ]" role="list">
          {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </burger-menu>
  </div>
</header>